.thumbnail-grid {
    display: grid;
    justify-content: center;

    @include respond-to("desktop") {
        gap: 40px 40px;
        grid-template-columns: repeat(auto-fill, 340px);
        padding: 50px;
        background: #f6f6f6;
    }

    @include respond-to("mobile") {
        grid-template-columns: 100%;
        gap: 20px 0;
    }

    border-radius: 25px;

    margin-bottom: 50px;
}
