@import "../abstracts/responsive";

.container {
    margin: auto;
    transition: width 300ms;

    max-width: 1280px;
    width: calc(100% - 100px);

    @include respond-to("mobile") {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@mixin container {
    margin: auto;
    transition: width 300ms;

    max-width: 1280px;
    width: calc(100% - 100px);

    @include respond-to("mobile") {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}
